In [1]:
import pandas as pd
import numpy as np

In [2]:
games_df = pd.read_csv('data/games.csv')
games_df

,Unnamed: 0,Season,Date,HID,AID,N,POFF,Open,OddsH,OddsA,...,HAST,AAST,HSTL,ASTL,HBLK,ABLK,HTOV,ATOV,HPF,APF
0,0,1,1975-11-07,13,28,0,0,1975-11-06,1.196537,4.833232,...,26.0,26.0,7.0,14.0,5.0,4.0,25.0,14.0,27.0,26.0
1,1,1,1975-11-07,20,12,0,0,1975-11-06,1.394620,2.957488,...,14.0,21.0,7.0,5.0,5.0,2.0,22.0,21.0,31.0,33.0
2,2,1,1975-11-07,43,8,0,0,1975-11-06,1.502570,2.536599,...,29.0,26.0,9.0,15.0,10.0,3.0,23.0,18.0,19.0,31.0
3,3,1,1975-11-07,33,4,0,0,1975-11-06,1.275743,3.778120,...,36.0,27.0,9.0,7.0,7.0,4.0,13.0,17.0,18.0,22.0
4,4,1,1975-11-07,41,34,0,0,1975-11-06,1.112895,7.379109,...,31.0,18.0,5.0,10.0,6.0,6.0,18.0,22.0,27.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28985,28985,24,1999-06-15,41,17,0,1,1999-06-14,1.488863,2.580145,...,20.0,13.0,4.0,2.0,2.0,7.0,10.0,9.0,27.0,20.0
28986,28986,24,1999-06-17,41,17,0,1,1999-06-16,1.559415,2.377968,...,15.0,13.0,12.0,6.0,2.0,3.0,12.0,16.0,21.0,23.0
28987,28987,24,1999-06-20,41,17,0,1,1999-06-19,1.521256,2.480785,...,21.0,12.0,8.0,9.0,7.0,1.0,17.0,14.0,23.0,22.0
28988,28988,24,1999-06-22,17,41,0,1,1999-06-21,1.496122,2.556796,...,17.0,17.0,13.0,8.0,8.0,4.0,13.0,14.0,17.0,21.0
28989,28989,24,1999-06-24,17,41,0,1,1999-06-23,1.433385,2.783270,...,11.0,18.0,7.0,6.0,3.0,7.0,11.0,15.0,19.0,25.0

In [3]:
games_df.groupby(['Season']).count()

,Unnamed: 0,Date,HID,AID,N,POFF,Open,OddsH,OddsA,H,...,HAST,AAST,HSTL,ASTL,HBLK,ABLK,HTOV,ATOV,HPF,APF
Season,,,,,,,,,,,,,,,,,,,,,
1,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,...,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014
2,1023,1023,1023,1023,1023,1023,1023,1023,1023,1023,...,1023,1023,1023,1023,1023,1023,1023,1023,1023,1023
3,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087,...,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087
4,1179,1179,1179,1179,1179,1179,1179,1179,1179,1179,...,1179,1179,1179,1179,1179,1179,1179,1179,1179,1179
5,1175,1175,1175,1175,1175,1175,1175,1175,1175,1175,...,1175,1175,1175,1175,1175,1175,1175,1175,1175,1175
6,1180,1180,1180,1180,1180,1180,1180,1180,1180,1180,...,1180,1180,1180,1180,1180,1180,1180,1180,1180,1180
7,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,...,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183
8,1184,1184,1184,1184,1184,1184,1184,1184,1184,1184,...,1184,1184,1184,1184,1184,1184,1184,1184,1184,1184
9,1180,1180,1180,1180,1180,1180,1180,1180,1180,1180,...,1180,1180,1180,1180,1180,1180,1180,1180,1180,1180
10,1257,1257,1257,1257,1257,1257,1257,1257,1257,1257,...,1257,1257,1257,1257,1257,1257,1257,1257,1257,1257
11,1261,1261,1261,1261,1261,1261,1261,1261,1261,1261,...,1261,1261,1261,1261,1261,1261,1261,1261,1261,1261
12,1260,1260,1260,1260,1260,1260,1260,1260,1260,1260,...,1260,1260,1260,1260,1260,1260,1260,1260,1260,1260
13,791,791,791,791,791,791,791,791,791,791,...,791,791,791,791,791,791,791,791,791,791
14,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,...,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264
15,1260,1260,1260,1260,1260,1260,1260,1260,1260,1260,...,1260,1260,1260,1260,1260,1260,1260,1260,1260,1260
16,1260,1260,1260,1260,1260,1260,1260,1260,1260,1260,...,1260,1260,1260,1260,1260,1260,1260,1260,1260,1260
17,1277,1277,1277,1277,1277,1277,1277,1277,1277,1277,...,1277,1277,1277,1277,1277,1277,1277,1277,1277,1277
18,1271,1271,1271,1271,1271,1271,1271,1271,1271,1271,...,1271,1271,1271,1271,1271,1271,1271,1271,1271,1271
19,1314,1314,1314,1314,1314,1314,1314,1314,1314,1314,...,1314,1314,1314,1314,1314,1314,1314,1314,1314,1314
20,1319,1319,1319,1319,1319,1319,1319,1319,1319,1319,...,1319,1319,1319,1319,1319,1319,1319,1319,1319,1319
21,1309,1309,1309,1309,1309,1309,1309,1309,1309,1309,...,1309,1309,1309,1309,1309,1309,1309,1309,1309,1309
22,1315,1315,1315,1315,1315,1315,1315,1315,1315,1315,...,1315,1315,1315,1315,1315,1315,1315,1315,1315,1315
23,1315,1315,1315,1315,1315,1315,1315,1315,1315,1315,...,1315,1315,1315,1315,1315,1315,1315,1315,1315,1315
24,1312,1312,1312,1312,1312,1312,1312,1312,1312,1312,...,1312,1312,1312,1312,1312,1312,1312,1312,1312,1312

In [4]:
team_ids = games_df['AID'].unique()
team_ids.sort()
team_ids

array([ 0,  1,  2,  3,  4,  5,  8, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21,
       22, 24, 25, 28, 30, 33, 34, 35, 39, 41, 42, 43, 44])

In [5]:
team_ids.shape

(30,)

In [6]:
games_df.memory_usage(index=True).sum() / (1024 ** 2)
# 10 MB

np.float64(9.28952407836914)

In [7]:
games_df.memory_usage(index=True, deep=True).sum() / (1024 ** 2)
# 13 MB

np.float64(12.109519958496094)

In [8]:
games_df[games_df['Season'].isin([1,2])].memory_usage(index=True, deep=True).sum() / (1024 ** 2)
# 1 MB

np.float64(0.8664150238037109)

In [9]:
games_df[games_df['Season'].isin([1,2])]

,Unnamed: 0,Season,Date,HID,AID,N,POFF,Open,OddsH,OddsA,...,HAST,AAST,HSTL,ASTL,HBLK,ABLK,HTOV,ATOV,HPF,APF
0,0,1,1975-11-07,13,28,0,0,1975-11-06,1.196537,4.833232,...,26.0,26.0,7.0,14.0,5.0,4.0,25.0,14.0,27.0,26.0
1,1,1,1975-11-07,20,12,0,0,1975-11-06,1.394620,2.957488,...,14.0,21.0,7.0,5.0,5.0,2.0,22.0,21.0,31.0,33.0
2,2,1,1975-11-07,43,8,0,0,1975-11-06,1.502570,2.536599,...,29.0,26.0,9.0,15.0,10.0,3.0,23.0,18.0,19.0,31.0
3,3,1,1975-11-07,33,4,0,0,1975-11-06,1.275743,3.778120,...,36.0,27.0,9.0,7.0,7.0,4.0,13.0,17.0,18.0,22.0
4,4,1,1975-11-07,41,34,0,0,1975-11-06,1.112895,7.379109,...,31.0,18.0,5.0,10.0,6.0,6.0,18.0,22.0,27.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2032,2032,2,1977-06-19,15,17,0,1,1977-06-18,1.385194,3.004898,...,18.0,21.0,6.0,8.0,6.0,6.0,11.0,11.0,23.0,13.0
2033,2033,2,1977-06-21,15,17,0,1,1977-06-20,1.481056,2.606012,...,22.0,11.0,6.0,3.0,7.0,3.0,12.0,16.0,30.0,30.0
2034,2034,2,1977-06-23,15,17,0,1,1977-06-22,1.416219,2.856591,...,20.0,26.0,5.0,7.0,5.0,3.0,14.0,14.0,29.0,27.0
2035,2035,2,1977-06-26,17,15,0,1,1977-06-25,1.625010,2.229593,...,30.0,30.0,6.0,11.0,3.0,3.0,14.0,12.0,19.0,29.0
2036,2036,2,1977-06-28,17,15,0,1,1977-06-27,1.602546,2.276896,...,30.0,22.0,6.0,13.0,1.0,2.0,18.0,11.0,22.0,23.0

In [10]:
games_df['Season'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [11]:
from xgboost import XGBClassifier
# read data
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
data = load_iris()
X_train, X_test, y_train, y_test = train_test_split(data['data'], data['target'], test_size=.2)
# create model instance
bst = XGBClassifier(n_estimators=2, max_depth=2, learning_rate=1, objective='binary:logistic')
# fit model
bst.fit(X_train, y_train)
# make predictions
preds = bst.predict(X_test)

In [12]:
preds

array([2, 2, 1, 2, 0, 1, 2, 1, 2, 2, 0, 2, 2, 0, 2, 1, 2, 1, 0, 2, 0, 2,
       2, 0, 2, 2, 1, 1, 1, 2])

In [13]:
len(data['target'])

150

In [14]:
data['data']

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [15]:
games_df[games_df['Season'].isin([3])]

,Unnamed: 0,Season,Date,HID,AID,N,POFF,Open,OddsH,OddsA,...,HAST,AAST,HSTL,ASTL,HBLK,ABLK,HTOV,ATOV,HPF,APF
2037,2037,3,1977-11-11,35,19,0,0,1977-11-10,2.487971,1.518776,...,23.0,21.0,7.0,5.0,5.0,0.0,15.0,12.0,32.0,20.0
2038,2038,3,1977-11-11,11,15,0,0,1977-11-10,1.791779,1.960023,...,20.0,25.0,12.0,7.0,10.0,2.0,15.0,17.0,28.0,25.0
2039,2039,3,1977-11-11,24,43,0,0,1977-11-10,1.215281,4.518083,...,33.0,19.0,10.0,6.0,5.0,2.0,21.0,18.0,37.0,28.0
2040,2040,3,1977-11-11,12,2,0,0,1977-11-10,1.368089,3.096829,...,20.0,22.0,8.0,15.0,6.0,7.0,22.0,18.0,19.0,31.0
2041,2041,3,1977-11-11,44,21,0,0,1977-11-10,3.133913,1.361593,...,27.0,33.0,8.0,16.0,1.0,3.0,24.0,20.0,25.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3119,3119,3,1978-06-09,11,15,0,1,1978-06-08,2.307073,1.589013,...,21.0,24.0,5.0,6.0,5.0,1.0,13.0,12.0,27.0,25.0
3120,3120,3,1978-06-13,15,17,0,1,1978-06-12,1.344306,3.239061,...,26.0,21.0,2.0,9.0,5.0,2.0,13.0,12.0,28.0,28.0
3121,3121,3,1978-06-15,15,17,0,1,1978-06-14,1.321660,3.393001,...,21.0,21.0,3.0,3.0,9.0,3.0,10.0,14.0,31.0,22.0
3122,3122,3,1978-06-18,17,15,0,1,1978-06-17,1.772285,1.985699,...,27.0,29.0,7.0,8.0,5.0,3.0,14.0,13.0,24.0,30.0
3123,3123,3,1978-06-20,17,15,0,1,1978-06-19,1.833714,1.908746,...,23.0,21.0,3.0,3.0,6.0,4.0,7.0,9.0,30.0,26.0

In [16]:
games_df['Season'].iloc[-1]

np.int64(24)

In [17]:
games_df[games_df['Season'].isin([3])]['A']

2037    1
2038    1
2039    0
2040    1
2041    1
       ..
3119    1
3120    0
3121    0
3122    1
3123    1
Name: A, Length: 1087, dtype: int64

In [18]:
for row in games_df[games_df['Season'] == 3].index:
    print(row)

2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2848
2849
2850
2851
2852
2853
2854
2855
2856
2857
2858
2859
2860
2861
2862
2863
2864
2865
2866
2867
2868
2869
2870
2871
2872
2873
2874
2875
2876
2877
2878
2879
2880
2881
2882
2883
2884
2885
2886
2887
2888
2889
2890
2891
2892
2893
2894
2895
2896
2897
2898
2899
2900
2901
2902
2903
2904
2905
2906
2907
2908
2909
2910
2911
2912
2913
2914
2915
2916
2917
2918
2919
2920
2921
2922
2923
2924
2925
2926
2927
2928
2929
2930
2931
2932
2933
2934
2935
2936
2937
2938
2939
2940
2941
2942
2943
2944
2945
2946
2947
2948
2949
2950
2951
2952
2953
2954
2955
2956
2957
2958
2959
2960
2961
2962
2963
2964
2965
2966
2967
2968
2969
2970
2971
2972
2973
2974
2975
2976
2977
2978
2979
2980
2981
2982
2983
2984
2985
2986
2987
2988
2989
2990
2991
2992
2993
2994
2995
2996
2997
2998
2999
3000
3001
3002
3003
3004
3005
3006
3007
3008
3009
3010
3011
3012
3013
3014
3015
3016
3017
3018
3019
3020
3021
3022
3023
3024
3025
3026
3027
3028
3029
3030
3031
3032
3033
3034
3035
3036
3037
3038
3039
3040
3041
3042
3043
3044
3045
3046
3047
3048
3049
3050
3051
3052
3053
3054
3055
3056
3057
3058
3059
3060
3061
3062
3063
3064
3065
3066
3067
3068
3069
3070
3071
3072
3073
3074
3075
3076
3077
3078
3079
3080
3081
3082
3083
3084
3085
3086
3087
3088
3089
3090
3091
3092
3093
3094
3095
3096
3097
3098
3099
3100
3101
3102
3103
3104
3105
3106
3107
3108
3109
3110
3111
3112
3113
3114
3115
3116
3117
3118
3119
3120
3121
3122
3123

In [19]:
games_df.iloc[2]

Unnamed: 0             2
Season                 1
Date          1975-11-07
HID                   43
AID                    8
N                      0
POFF                   0
Open          1975-11-06
OddsH            1.50257
OddsA           2.536599
H                      1
A                      0
HSC                  127
ASC                  123
HFGM                49.0
AFGM                49.0
HFGA                92.0
AFGA                99.0
HFG3M                0.0
AFG3M                1.0
HFG3A                0.0
AFG3A                6.0
HFTM                29.0
AFTM                24.0
HFTA                36.0
AFTA                31.0
HORB                14.0
AORB                18.0
HDRB                36.0
ADRB                27.0
HRB                 50.0
ARB                 45.0
HAST                29.0
AAST                26.0
HSTL                 9.0
ASTL                15.0
HBLK                10.0
ABLK                 3.0
HTOV                23.0
ATOV                18.0
HPF                 19.0
APF                 31.0
Name: 2, dtype: object

In [20]:
games_df[(games_df['HID'] == 22) & (games_df.index < 2037)]

,Unnamed: 0,Season,Date,HID,AID,N,POFF,Open,OddsH,OddsA,...,HAST,AAST,HSTL,ASTL,HBLK,ABLK,HTOV,ATOV,HPF,APF
15,15,1,1975-11-08,22,41,0,0,1975-11-07,1.876048,1.862782,...,27.0,23.0,12.0,4.0,2.0,7.0,11.0,19.0,24.0,20.0
53,53,1,1975-11-15,22,15,0,0,1975-11-14,1.263272,3.904515,...,25.0,18.0,12.0,10.0,2.0,4.0,15.0,25.0,22.0,32.0
65,65,1,1975-11-18,22,28,0,0,1975-11-17,1.166394,5.477127,...,27.0,20.0,3.0,4.0,1.0,2.0,23.0,15.0,28.0,32.0
81,81,1,1975-11-21,22,18,0,0,1975-11-20,1.097287,8.285708,...,26.0,20.0,8.0,3.0,4.0,7.0,12.0,9.0,30.0,28.0
102,102,1,1975-11-25,22,8,0,0,1975-11-24,1.169742,5.395175,...,26.0,16.0,10.0,9.0,5.0,3.0,15.0,21.0,28.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,1871,2,1977-04-18,22,13,0,0,1977-04-17,1.349185,3.208384,...,21.0,21.0,10.0,7.0,3.0,2.0,14.0,19.0,26.0,24.0
1926,1926,2,1977-04-27,22,34,0,0,1977-04-26,1.673131,2.138547,...,46.0,31.0,9.0,10.0,6.0,7.0,12.0,16.0,17.0,19.0
1935,1935,2,1977-04-29,22,18,0,0,1977-04-28,1.616525,2.247069,...,38.0,31.0,7.0,4.0,4.0,10.0,13.0,15.0,23.0,25.0
1979,1979,2,1977-05-11,22,19,0,1,1977-05-10,1.853308,1.886466,...,26.0,29.0,6.0,7.0,4.0,9.0,11.0,9.0,19.0,31.0
1987,1987,2,1977-05-13,22,19,0,1,1977-05-12,1.771681,1.986515,...,25.0,24.0,9.0,5.0,5.0,7.0,11.0,19.0,24.0,26.0

In [21]:
games_df[games_df['Season'] == 3].shape[0]

1087

In [22]:
a = games_df['HID'].unique()
a.sort()
a

array([ 0,  1,  2,  3,  4,  5,  8, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21,
       22, 24, 25, 28, 30, 33, 34, 35, 39, 41, 42, 43, 44])

In [23]:
b = games_df['AID'].unique()
b.sort()
b

array([ 0,  1,  2,  3,  4,  5,  8, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21,
       22, 24, 25, 28, 30, 33, 34, 35, 39, 41, 42, 43, 44])

In [24]:
for i, row in enumerate(games_df.iterrows()):
    match = row[1]
    # print(match)
    print(match['A'])
    print(type(match['A']))
    break

0
<class 'int'>

In [25]:
curr_season = 4 - 1
last_2_seasons = [curr_season - 1, curr_season - 2]
games_2_last_season = games_df[games_df['Season'].isin(last_2_seasons)]

all_teams_hid = games_2_last_season['HID'].unique()
all_teams_aid = games_2_last_season['AID'].unique()
all_teams_hid.sort()
all_teams_aid.sort()
print(all_teams_hid,)
print(len(all_teams_aid))

[ 1  2  4  8 11 12 13 15 17 18 19 20 21 22 24 25 28 33 34 35 41 42 43]
23

In [26]:
len(games_df.loc[games_df['HID'] == 2])

1038

In [27]:
count = ((games_df['HID'] == 2) & (games_df['H'] == 1)).sum()
print(count)

689

In [28]:
count = len(games_df.loc[(games_df['HID'] == 2) & (games_df['H'] == 1)])
print(count)

689

In [29]:
games_df.shape[0]

28990

In [30]:
type(games_df.shape[0])

int

In [31]:
games_df.loc[games_df['HID'] == 22, 'HSC'].sum()

np.int64(102944)

In [32]:
games_df.loc[games_df['HID'] == 22, 'HSC'].tolist()

[111,
 103,
 102,
 106,
 111,
 122,
 131,
 95,
 116,
 93,
 103,
 104,
 120,
 110,
 99,
 104,
 124,
 92,
 91,
 113,
 122,
 100,
 109,
 120,
 106,
 116,
 128,
 120,
 110,
 123,
 118,
 111,
 123,
 102,
 135,
 104,
 112,
 121,
 107,
 128,
 124,
 107,
 122,
 102,
 126,
 137,
 121,
 119,
 115,
 112,
 120,
 101,
 112,
 104,
 85,
 125,
 99,
 87,
 122,
 102,
 93,
 97,
 98,
 107,
 105,
 106,
 111,
 97,
 111,
 112,
 93,
 115,
 119,
 120,
 117,
 119,
 132,
 117,
 108,
 101,
 111,
 103,
 125,
 110,
 105,
 102,
 132,
 118,
 123,
 105,
 94,
 114,
 108,
 96,
 124,
 103,
 119,
 96,
 109,
 95,
 93,
 125,
 113,
 120,
 113,
 110,
 107,
 123,
 120,
 118,
 117,
 115,
 132,
 106,
 116,
 121,
 105,
 121,
 121,
 102,
 100,
 117,
 98,
 113,
 121,
 102,
 99,
 113,
 125,
 92,
 110,
 117,
 106,
 90,
 94,
 106,
 155,
 96,
 108,
 132,
 118,
 97,
 107,
 106,
 96,
 86,
 112,
 103,
 109,
 118,
 126,
 94,
 134,
 103,
 127,
 109,
 129,
 102,
 101,
 127,
 88,
 110,
 109,
 105,
 105,
 100,
 96,
 96,
 96,
 133,
 121,
 110,
 109,
 88,
 96,
 96,
 119,
 86,
 111,
 141,
 119,
 111,
 114,
 105,
 112,
 103,
 113,
 105,
 99,
 98,
 106,
 126,
 117,
 97,
 88,
 99,
 105,
 126,
 125,
 122,
 117,
 120,
 109,
 94,
 116,
 118,
 106,
 106,
 99,
 98,
 101,
 102,
 101,
 104,
 101,
 133,
 105,
 111,
 133,
 90,
 112,
 109,
 114,
 111,
 116,
 127,
 112,
 137,
 126,
 101,
 102,
 103,
 110,
 94,
 110,
 113,
 99,
 105,
 90,
 108,
 100,
 102,
 122,
 106,
 104,
 127,
 128,
 109,
 105,
 109,
 110,
 124,
 112,
 100,
 110,
 127,
 109,
 117,
 96,
 107,
 94,
 103,
 124,
 96,
 115,
 105,
 94,
 97,
 100,
 112,
 101,
 90,
 99,
 102,
 109,
 114,
 94,
 99,
 93,
 99,
 92,
 104,
 100,
 116,
 100,
 102,
 117,
 128,
 94,
 90,
 120,
 109,
 91,
 103,
 105,
 112,
 107,
 113,
 92,
 108,
 93,
 98,
 106,
 103,
 90,
 98,
 97,
 85,
 89,
 98,
 97,
 86,
 96,
 87,
 105,
 86,
 87,
 76,
 83,
 105,
 123,
 113,
 90,
 82,
 94,
 106,
 80,
 95,
 104,
 113,
 115,
 102,
 117,
 84,
 94,
 100,
 103,
 107,
 111,
 105,
 96,
 90,
 103,
 85,
 97,
 115,
 82,
 96,
 105,
 106,
 87,
 106,
 99,
 98,
 101,
 94,
 97,
 88,
 120,
 120,
 99,
 87,
 107,
 96,
 100,
 85,
 118,
 104,
 100,
 86,
 85,
 102,
 100,
 93,
 99,
 95,
 115,
 104,
 105,
 94,
 107,
 102,
 114,
 106,
 104,
 71,
 98,
 87,
 93,
 96,
 102,
 98,
 112,
 106,
 84,
 105,
 115,
 87,
 96,
 113,
 92,
 100,
 92,
 89,
 97,
 108,
 88,
 114,
 101,
 109,
 92,
 102,
 84,
 86,
 110,
 103,
 90,
 97,
 106,
 80,
 105,
 79,
 96,
 114,
 80,
 100,
 124,
 105,
 99,
 100,
 65,
 90,
 92,
 87,
 104,
 100,
 85,
 100,
 101,
 105,
 103,
 90,
 94,
 91,
 119,
 101,
 111,
 89,
 94,
 84,
 100,
 78,
 101,
 92,
 86,
 72,
 92,
 93,
 96,
 102,
 78,
 80,
 82,
 126,
 132,
 92,
 120,
 109,
 110,
 100,
 105,
 87,
 83,
 101,
 86,
 102,
 97,
 77,
 84,
 98,
 79,
 99,
 105,
 99,
 95,
 110,
 101,
 86,
 92,
 101,
 83,
 82,
 87,
 100,
 94,
 79,
 81,
 104,
 92,
 77,
 89,
 94,
 118,
 87,
 114,
 117,
 82,
 109,
 95,
 91,
 80,
 76,
 106,
 88,
 81,
 101,
 102,
 92,
 99,
 87,
 115,
 76,
 107,
 99,
 91,
 98,
 94,
 95,
 79,
 99,
 115,
 76,
 99,
 91,
 121,
 107,
 101,
 99,
 100,
 102,
 79,
 80,
 103,
 112,
 99,
 109,
 93,
 91,
 116,
 130,
 137,
 94,
 118,
 96,
 112,
 95,
 111,
 103,
 90,
 100,
 86,
 83,
 102,
 84,
 111,
 80,
 103,
 106,
 87,
 99,
 92,
 109,
 104,
 106,
 110,
 96,
 100,
 97,
 89,
 92,
 84,
 89,
 84,
 90,
 108,
 92,
 96,
 99,
 104,
 80,
 104,
 89,
 88,
 99,
 102,
 115,
 112,
 105,
 103,
 116,
 104,
 112,
 104,
 93,
 102,
 93,
 122,
 91,
 126,
 102,
 87,
 107,
 115,
 105,
 104,
 105,
 115,
 112,
 103,
 103,
 104,
 91,
 86,
 104,
 80,
 83,
 110,
 105,
 86,
 82,
 104,
 96,
 95,
 71,
 95,
 95,
 115,
 107,
 102,
 105,
 105,
 115,
 81,
 88,
 127,
 109,
 81,
 107,
 107,
 88,
 92,
 115,
 116,
 89,
 89,
 103,
 92,
 109,
 73,
 110,
 94,
 110,
 106,
 95,
 105,
 90,
 98,
 105,
 90,
 99,
 110,
 108,
 104,
 93,
 112,
 109,
 88,
 119,
 101,
 117,
 94,
 96,
 115,
 76,
 93,
 97,
 95,
 88,
 81,
 97,
 107,
 95,
 97,
 120,
 96,
 95,
 114,
 112,
 120,
 138,
 102,
 94,
 93,
 109,
 106,
 95,
 112,
 107,
 93,
 101,
 119,
 101,
 98,
 107,
 90,
 99,
 100,
 93,
 95,
 100,
 109,
 94,
 109,
 92,
 83,
 101,
 109,
 95,
 103,
 111,
 86,
 94,
 113,
 98,
 93,
 101,
 107,
 117,
 127,
 103,
 102,
 106,
 108,
 94,
 111,
 100,
 99,
 107,
 95,
 107,
 116,
 87,
 87,
 85,
 92,
 102,
 102,
 94,
 106,
 96,
 90,
 83,
 96,
 95,
 86,
 97,
 95,
 99,
 115,
 97,
 89,
 103,
 89,
 115,
 100,
 91,
 92,
 121,
 113,
 100,
 102,
 99,
 111,
 95,
 105,
 110,
 96,
 99,
 76,
 109,
 82,
 106,
 93,
 108,
 113,
 109,
 105,
 103,
 103,
 108,
 76,
 113,
 104,
 92,
 111,
 83,
 80,
 109,
 101,
 113,
 84,
 91,
 95,
 93,
 101,
 80,
 108,
 83,
 88,
 94,
 99,
 106,
 85,
 111,
 98,
 116,
 98,
 88,
 104,
 97,
 125,
 132,
 96,
 83,
 100,
 114,
 113,
 124,
 99,
 104,
 93,
 111,
 100,
 98,
 98,
 102,
 100,
 94,
 108,
 121,
 115,
 119,
 86,
 77,
 90,
 90,
 107,
 98,
 116,
 102,
 93,
 83,
 109,
 122,
 121,
 110,
 92,
 93,
 101,
 97,
 103,
 95,
 107,
 101,
 98,
 113,
 94,
 98,
 92,
 102,
 78,
 112,
 102,
 105,
 110,
 97,
 99,
 91,
 100,
 95,
 89,
 103,
 95,
 77,
 98,
 87,
 99,
 105,
 104,
 105,
 83,
 98,
 89,
 107,
 103,
 115,
 105,
 94,
 118,
 101,
 97,
 110,
 77,
 106,
 108,
 86,
 119,
 101,
 104,
 98,
 135,
 87,
 112,
 96,
 82,
 97,
 104,
 85,
 97,
 101,
 121,
 119,
 94,
 76,
 103,
 107,
 105,
 104,
 99,
 133,
 106,
 83,
 110,
 121,
 124,
 122,
 104,
 103,
 120,
 109,
 95,
 127,
 112,
 86,
 86,
 80,
 84,
 98,
 102,
 105,
 115,
 98,
 96,
 102,
 108,
 129,
 113,
 99,
 95,
 98,
 99,
 86,
 117,
 108,
 106,
 95,
 97,
 97,
 103,
 96,
 113,
 127,
 91,
 95,
 93,
 81,
 99,
 93,
 115,
 100,
 92,
 86,
 95,
 98,
 98,
 86,
 74,
 108,
 107,
 107,
 ...]

In [40]:
all_seasons = games_df['Season'].unique()

# teams = np.zeros((len(all_seasons), 2))
teams = {}

for season in all_seasons:
    hids = games_df[games_df['Season'] == season]['HID'].unique()
    aids = games_df[games_df['Season'] == season]['AID'].unique()
    hids.sort()
    aids.sort()
    teams[season - 1, 0] = hids
    teams[season - 1, 1] = aids

for k, v in teams.items():
    print(teams[k])

[ 1  2  4  8 11 12 13 15 17 18 19 20 21 22 24 25 28 33 34 35 41 42 43]
[ 1  2  4  8 11 12 13 15 17 18 19 20 21 22 24 25 28 33 34 35 41 42 43]
[ 1  2  4  8 11 12 13 15 17 18 19 20 21 22 24 25 28 33 34 35 41 42 43]
[ 1  2  4  8 11 12 13 15 17 18 19 20 21 22 24 25 28 33 34 35 41 42 43]
[ 0  1  2  4  8 11 12 13 15 17 18 19 20 21 22 24 25 28 33 34 35 41 42 43
 44]
[ 0  1  2  4  8 11 12 13 15 17 18 19 20 21 22 24 25 28 33 34 35 41 42 43
 44]
[ 0  1  2  4  5  8 11 12 13 15 17 18 19 20 21 22 24 25 28 30 33 34 35 41
 42 43 44]
[ 0  1  2  4  5  8 11 12 13 15 17 18 19 20 21 22 24 25 28 30 33 34 35 41
 42 43 44]
[ 0  1  2  4  5  8 11 12 13 15 17 18 19 20 21 22 24 25 28 30 33 34 35 41
 42 43 44]
[ 0  1  2  4  5  8 11 12 13 15 17 18 19 20 21 22 24 25 28 30 33 34 35 41
 42 43 44]
[ 0  1  2  4  5  8 11 12 13 15 17 18 19 20 21 22 24 25 28 30 33 34 35 41
 42 43 44]
[ 0  1  2  4  5  8 11 12 13 15 17 18 19 20 21 22 24 25 28 30 33 34 35 41
 42 43 44]
[ 0  1  2  4  5  8 11 12 13 15 17 18 19 20 21 22 24 25 28 30 33 34 35 41
 42 43 44]
[ 0  1  2  4  5  8 11 12 13 15 17 18 19 20 21 22 24 25 28 30 33 34 35 41
 42 43 44]
[ 0  1  2  4  5  8 11 12 13 15 17 18 19 20 21 22 24 25 28 30 33 34 35 41
 42 43 44]
[ 0  1  2  4  5  8 11 12 13 15 17 18 19 20 21 22 24 25 28 30 33 34 35 41
 42 43 44]
[ 0  1  2  4  5  8 11 12 13 15 17 18 19 20 21 22 24 25 28 30 33 34 35 41
 42 43 44]
[ 0  1  2  4  5  8 11 12 13 15 17 18 19 20 21 22 24 25 28 30 33 34 35 41
 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43 44]
[ 0  1  2  3  4  5  8 11 12 13 15 16 17 18 19 20 21 22 24 25 28 30 33 34
 35 39 41 42 43 44]

In [46]:
games_df.loc[(games_df['HID'] == 2) & (games_df['Season'] == 1)]

Empty DataFrame
Columns: [Unnamed: 0, Season, Date, HID, AID, N, POFF, Open, OddsH, OddsA, H, A, HSC, ASC, HFGM, AFGM, HFGA, AFGA, HFG3M, AFG3M, HFG3A, AFG3A, HFTM, AFTM, HFTA, AFTA, HORB, AORB, HDRB, ADRB, HRB, ARB, HAST, AAST, HSTL, ASTL, HBLK, ABLK, HTOV, ATOV, HPF, APF]
Index: []

[0 rows x 42 columns]

In [53]:
games_df.loc[((games_df['HID'] == 2) | (games_df['AID'] == 2)) & (games_df['Season'] == 4)]

,Unnamed: 0,Season,Date,HID,AID,N,POFF,Open,OddsH,OddsA,...,HAST,AAST,HSTL,ASTL,HBLK,ABLK,HTOV,ATOV,HPF,APF
3124,3124,4,1978-11-10,2,5,0,0,1978-11-09,1.132012,6.537590,...,22.0,14.0,7.0,11.0,7.0,1.0,20.0,12.0,20.0,23.0
3136,3136,4,1978-11-11,42,2,0,0,1978-11-10,1.912601,1.830412,...,25.0,17.0,10.0,8.0,6.0,8.0,14.0,18.0,20.0,25.0
3153,3153,4,1978-11-14,2,44,0,0,1978-11-13,1.155503,5.766187,...,28.0,22.0,9.0,12.0,6.0,2.0,19.0,22.0,27.0,27.0
3169,3169,4,1978-11-16,22,2,0,0,1978-11-15,1.440251,2.755477,...,31.0,26.0,13.0,10.0,6.0,8.0,22.0,25.0,39.0,39.0
3186,3186,4,1978-11-18,11,2,0,0,1978-11-17,1.402006,2.921820,...,26.0,26.0,13.0,7.0,7.0,4.0,17.0,19.0,24.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4172,4172,4,1979-04-21,2,43,0,0,1979-04-20,2.274419,1.603684,...,22.0,20.0,5.0,4.0,6.0,5.0,10.0,10.0,29.0,22.0
4190,4190,4,1979-04-24,2,17,0,0,1979-04-23,2.708363,1.452377,...,25.0,21.0,6.0,5.0,4.0,2.0,8.0,13.0,22.0,16.0
4202,4202,4,1979-04-26,42,2,0,0,1979-04-25,2.282242,1.600105,...,30.0,30.0,5.0,5.0,6.0,1.0,8.0,14.0,24.0,29.0
4215,4215,4,1979-04-27,2,25,0,0,1979-04-26,1.211792,4.572798,...,31.0,14.0,11.0,12.0,3.0,1.0,19.0,14.0,21.0,14.0
4230,4230,4,1979-04-29,8,2,0,0,1979-04-28,1.789025,1.963575,...,26.0,29.0,12.0,7.0,7.0,2.0,18.0,22.0,25.0,31.0

In [57]:
# Count games where the team is in the 'HID' column
home_games = games_df.groupby(['Season', 'HID']).size().reset_index(name='home_count')

# Count games where the team is in the 'AID' column
away_games = games_df.groupby(['Season', 'AID']).size().reset_index(name='away_count')

# Merge both counts on seasons
merged_games = pd.merge(home_games, away_games, how='outer', left_on=['Season', 'HID'], right_on=['Season', 'AID']).fillna(0)

# Calculate the total number of games for each team per season
merged_games['total_games'] = merged_games['home_count'] + merged_games['away_count']

# Group by team and calculate the average games per season
merged_games['team_id'] = merged_games['HID'].fillna(merged_games['AID'])
average_games_per_team = merged_games.groupby('team_id')['total_games'].mean()

print(average_games_per_team)

team_id
0     85.863636
1     87.041667
2     86.458333
3     80.666667
4     90.416667
5     82.714286
8     82.541667
11    89.666667
12    89.500000
13    84.875000
15    90.708333
16    81.933333
17    93.541667
18    87.416667
19    85.208333
20    86.083333
21    85.916667
22    84.083333
24    86.791667
25    81.708333
28    87.291667
30    85.809524
33    84.041667
34    82.208333
35    84.583333
39    85.750000
41    88.083333
42    83.708333
43    88.416667
44    83.000000
Name: total_games, dtype: float64